/* * {
    border: 1px solid #ff0000;
} */
@font-face {
    font-family: 'Manrope-Medium';
    src: local('Manrope-Medium'), local('Manrope-Medium'), url('fonts/Manrope-Medium.woff2') format('woff2'), url('fonts/Manrope-Medium.woff') format('woff'), url('fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Manrope-ExtraBold';
    src: local('Manrope-ExtraBold'), local('Manrope-ExtraBold'), url('fonts/Manrope-Bold.woff2') format('woff2'), url('fonts/Manrope-Bold.woff') format('woff'), url('fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), local('Aeonik'), url('fonts/AeonikProRegular.woff2') format('woff2'), url('fonts/AeonikProRegular.woff') format('woff'), url('fonts/AeonikProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AeonikBold';
    src: local('Aeonik'), local('Aeonik'), url('fonts/aeonikpro-bold.woff2') format('woff2'), url('fonts/aeonikpro-bold.woff') format('woff'), url('fonts/aeonikpro-bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'AeonikMedium';
    src: local('Aeonik'), local('Aeonik'), url('fonts/AeonikProMedium.woff2') format('woff2'), url('fonts/AeonikProMedium.woff') format('woff'), url('fonts/AeonikProMedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
    font-family: Manrope-Medium, sans-serif;
    min-width: 1038px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    border-right: 1px solid #000;
    cursor: pointer;
}

.logo-panel {
    width:58%;
    display: flex;
    border-right: 1px solid #000;

    justify-content: center;
    gap: 2%;
    align-items: center;
    color: #202325;
}

.logo-panel div {
    cursor: pointer;
    font-size: 0.85rem;
    font-family: AeonikMedium
}


.logo-panel div:hover {
    color: #696969;
    transition: color 0.3s;
}

.logo-text {
    font-size: 1.3rem;
    font-family: AeonikMedium;
    display: flex;
    align-items: end;
    height: 100%;
    margin-bottom: 4%;
    margin-left: 1%;
}

.button-logo-container {
    display: flex;
    width: 25%;
    justify-content: end;
    align-items: center;
}

.main-button-logo {
    width: 50%;
    height: 80%;
    margin-right: 8%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;

    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    font-family: Manrope-Medium;
    cursor: pointer;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    transition: background-color 0.3s;
    text-decoration: none;
    min-width: 150px;
}

.main-button-logo:hover {
    background-color: #1a1a1a;
}

header {
    height: 6vh;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #000;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    top: 0;
}

.main-container {
    width: 100%;
    height: 75vh;
    display: flex;
    /* padding-left: 8%;
    padding-right: 8%; */
    margin-top: 7vh;
    flex-direction: column;
}

.main-bussines {
    display: flex;
    width: 100%;
    font-size: 3rem;
    flex-direction: column;
    font-family: Aeonik;
    opacity: 0;
    transform: translateX(-20px); /* смещение влево */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.main-bussines.visible {
    opacity: 1;
    transform: translateX(0); /* возвращение на место */
}

.main-for {
    width: 25%;
    display: flex;
    font-family: Aeonik;
    opacity: 0;
    transform: translateX(-20px); /* смещение влево */
    transition: opacity 0.8s ease, transform 0.8s ease;
    margin-top: 1%;
    min-width: 330px;
}

.main-for.visible {
    opacity: 1;
    transform: translateX(0); /* возвращение на место */
}

.main-button {
    width: 16%;
    height: 5vh;
    /* margin-left: 8%; */
    /* border: 1px solid #000; */
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
    border-radius: 10px;
    display: flex;

    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    font-family: Manrope-Medium;
    cursor: pointer;
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    transition: background-color 0.3s; */
    opacity: 0;
    transform: translateX(-20px); /* смещение влево */
    transition: opacity 0.8s ease, transform 0.8s ease;
    border: none;
    font-size: 0.85rem;
    min-width: 150px;
}

.block-a::before {
    content: "";  position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0); /* тот же цвет, что и фон страницы */
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    pointer-events: none;
}

.main-button.visible {
    opacity: 1;
    transform: translateX(0); /* возвращение на место */
}


.main-button:hover {
    background-color: #202325;
}

/* .main-button::before {
  content: "";  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255); /* тот же цвет, что и фон страницы */
  /* clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  pointer-events: none;
} */ 

.angled-button {
  position: relative;
  padding: 12px 24px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;
}

.angled-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white; /* тот же цвет, что и фон страницы */
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  pointer-events: none;
}

.angled-button:hover {
  background-color: #357ABD;
}

.end {
    height: auto;
    width: 100%;
    /* margin-top: 200px; */
    border-top: 1px solid #000;
}

.end-text {
    font-size: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-button-container {
    width: 100%;
    /* height: 10%; */
    /* margin-top: 10%; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.end-buttons-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;

}

.end-buttons {
    width: 30%;
    border: 1px solid #000;
}

.end-buttons2 {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #202325;
    
}

.end-buttons3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202325;
    font-size: 0.9rem;
    margin-top: 1%;
    margin-bottom: 20px;
    margin-top: 2%;
}

.end-button {
    width: 20%;
    height: 6vh;

    /* border: 1px solid #000; */
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
    border-radius: 10px;
    display: flex;

    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    font-family: Manrope-Medium;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    transition: background-color 0.3s;
    min-width: 330px;
}


.end-button:hover {
    background-color: #202325;
}

.text-container {
    width: 84%;
    height: 45vh;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    /* margin-top: 2%; */
    margin-top: 70px;
    padding-top: 5%;
    border-top: 1px solid #000;

}

.text-1 {
    width: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.text-2 {
    display: flex;
    width: 60%;
    justify-content: end;
    align-items: center;

}







.faq-container {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    height: 500px;
    margin-top: 200px;
}

.faq-image {
    display: flex;
    width: 25%;
    background-color: #000000;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
    /* justify-content: end; */
    /* flex-direction: column; */
    align-items: flex-end;
    cursor: pointer;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    gap: 15px;
    transition: background-color 0.3s ease;
    /* border: 1px solid #000; */
}


.faq-image:hover {
    background-color: #03c4ff; /* Цвет при наведении */
    /* color: #000000; */
}

.circle-arrow {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.arrow {
    color: black;
    font-size: 20px;
    transition: color 0.3s ease;
}

.faq-image:hover .arrow {
    color: #333; /* Новый цвет стрелки при наведении (можно изменить) */
}

    .faq {
      width: 70%;
    }

    .faq-text {
        font-family: AeonikMedium;
        font-size: 4rem;
    }
    .faq-item {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      
    }

    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .faq-question:hover {
      color: #555;
    }

    .arrow {
      transition: transform 0.3s ease;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease, opacity 0.6s ease, margin-top 0.6s ease;
      opacity: 0;
      margin-top: 0;
    }

    .faq-item.active .faq-answer {
      max-height: 500px;
      opacity: 1;
      margin-top: 10px;
    }

    .faq-item.active .arrow {
      transform: rotate(180deg);
    }


.status-container {
    width: 100%;
    height: 78vh;
    display: flex;
    margin-top: 200px;
    border-top: 1px solid #000;
    background-color: #000;
   clip-path: path('M0,0 H100% V85% Q100% 100%, 92% 100% L0,100% Z');
    /* transition: background-color 0.3s; */
    position: relative;
    border-radius: 15px;
    flex-direction: column;

}

.r {
    background-image: url(/static/images/r.svg);
    position: absolute;
    width: 300px;
    height: 75px;
    right: 0;
    bottom: 0;
}

.status-text {
    font-size: 5rem;
    font-family: AeonikMedium;
    color: #fff;
    margin-top: 3%;
    margin-left: 8%;
}

.status-data {
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    display: flex;
    justify-content: space-between;
    height: 60%;
    margin-top: 1%;
    /* flex-direction: column; */
}

.status-a {
    width: 35%;
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    position: relative;
    min-width: 235px;
}

/* .status-b {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    height: 25%;
} */

.main-button-faq {
    width: 25%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    font-family: Manrope-Medium;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button-faq:hover {
    background-color: #202325;
}


.project-container {
    width: 84%;
    height: 45vh;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #adadad;
    /* text-align: center; */
    /* flex-direction: column; */
}

.a-text {
    font-size: 5rem;
    font-family: Aeonik;
    margin-left: 5%;
    margin-top: 3%;
}

.a-description {
    font-size: 2rem;
    font-family: Aeonik;
    margin-left: 5%;
    margin-top: 3%;
}

.end-o-kak {
    width: 84%;
    height: 45vh;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 200px;
    background-color: #000;
    color: #fff;
    align-items: end;
    /* padding-bottom: 1%; */
    font-size: 10rem;
    font-family: AeonikMedium;
    border-radius: 15px;
    position: relative;
    justify-content: space-between;
}


.end-o-kak2 {
    width: 84%;
    height: 10vh;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    background-color: #ffffff;
    color: #000000;
    /* align-items: end; */
    /* padding-bottom: 1%; */
    font-size: 5rem;
    font-family: AeonikMedium;
}

.pluses {
    width: 84%;
    height: 60vh;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    margin-top: 200px;
    border-top: 1px solid #000;
    flex-direction: column;
}

.text-p-container {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    font-family: AeonikMedium;
    font-size: 3rem;
    padding-bottom: 1%;
    border-bottom: 1px solid #b8b8b8;
}

.data-blocks-p {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.data-block-p {
    display: flex;
    width: 33%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}



    .marquee-container {
      width: 100%;
      height: 140px;
      overflow: hidden;
      background: #222;
      position: relative;
      margin-top: 200px;
    }

    .marquee-track {
      display: flex;
      width: max-content;
      animation: scrollRight linear infinite;
    }

    .block {
      width: 210px;
      height: 138px;
      margin: 1px 1px 0 0;
      background: #ffffff;
      border-radius: 15px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: AeonikMedium;
      font-size: 1.2rem;
    }

    @keyframes scrollRight {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }


    .curved-section {
      width: 84%;
      height: 100%;
      background: linear-gradient(135deg, #caffd0, #c7f5ff);
      border-radius: 50px 50px 60px 60px / 80px 80px 40px 40px;
      overflow: hidden;
      padding-left: 6%;
        padding-right: 6%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        

    }


.main-dashboard {
    width: 100%;
    min-width: 1470px;
    height: 100vh;
    display: flex;
    background-color: #000;
    min-height: 700px;
}

.nav {
    /* top: 0;
    left: 0; */
    /* min-height: 100vh;
    height: 100vh; */
    min-width: 68px;
    width: 5%;
    display: flex;
    border-right: 1px solid #000;
    flex-direction: column;
    align-items: center;
}

.square {
  width: 76px;
  height: 53px;
  background-color: #000000;
  position: relative;
}

.diagonal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg);
  transform-origin: center;
}

.diagonal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: translateY(-50%);
}

.diamond {
  transform: rotate(45deg);
  border: 1px solid #ffffff;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  width: 40px; 
  height: 40px; 
  box-sizing: border-box;
  cursor: pointer;
  transition: border 0.1 ease;
}

.diamond:hover {
    border: 1px solid #00ccff;
}

.diamond img {
  filter: brightness(0) saturate(100%) invert(1);
  transform: rotate(-45deg);
  width: 100%; 
  height: auto;
}

.diagonal2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg);
  transform-origin: center;
}

.diagonal2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: translateY(-50%);
}

.main-panel {
    width: 100%;
    min-width: 1380px;
    background-color: #fff;
    border-radius: 25px;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.top-view {
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.top-view-main-text {
    display: flex;
    font-size: 2.5rem;
    font-family: AeonikMedium;
    align-items: center;
    width: 40%;
}

.top-view-container {
    display: flex;
    height: 60%;
    margin-top: 1%;
}

.top-view-module {
    display: flex;
    width: 60%;
    flex-direction: column;
    height: 100%;
}

.top-view-blocks-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2px;
    justify-self: flex-end;
}

.top-view-block {
    display: flex;
    min-width: 200px;
    min-height: 130px;
    width: 30%;
    background-color: #202325;
    border-radius: 25px;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
}

.top-view-add-container {
    display: flex;
    height: 70%;
}

.services-container {
    height: 60%;
    width: 94%;    
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.services {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    gap: 3px;
}

.service {
    height: 23%;
    width: 90%;
    border-radius: 25px;
    background-color: #202325;
    display: flex;
}

.create-new-object {
    display: flex;
    background-color: #202325;
    padding: 2%;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    align-items: center;

}


.create-new-object:hover {
    background-color: rgb(77, 77, 77);
}


.top-view-module2 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1%;
}

.create-new-object2 {
    display: flex;
    background-color: #202325;
    padding: 2%;
    width: 25%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}


.create-new-object2:hover {
    background-color: rgb(77, 77, 77);
}

.service-image {
    width: 10%;
    margin: 1%;
    height: 82%;
    display: flex;
    background-color: #696969;
    border-radius: 20px;
}

.service-name {
    width: 15%;
    margin-top: 1%;
    display: flex;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 500;
}


.service-status {
    width: 9%;
    margin-top: 2%;
    display: flex;
    font-size: 1rem;
    color: #000000;
    border-radius: 30px;
    height: 20%;
    background-color: rgb(7, 235, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
  font-size: 24px;
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 12px;
  margin-bottom: 2%;
}

table {
  width: 94%;
  margin-left: 3%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #000;
  

    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #2a2a2a;
}

th {
  color: #000000;
  font-weight: normal;
  border-bottom: 1px solid #2a2a2a;
}

td {
  color: #000000;
}

.status {
  display: flex;
  align-items: center;
}

.status::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  background-color: gray; /* Цвет по умолчанию */
}

/* Цвета кружка для каждого статуса */
.status-requested::before {
  background-color: rgb(255, 217, 0);
}

.status-pending::before {
  background-color: orange;
}

.status-running::before {
  background-color: green;
}

.status-error::before {
  background-color: #c0392b; /* красный */
}

.main-badge {
  display: inline-block;
  background-color: #27ae60;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: bold;
  border-radius: 12px;
  padding: 2px 8px;
  margin-left: 8px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.database-badge {
  display: inline-block;
  background-color: #ff7b00;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: bold;
  border-radius: 12px;
  padding: 2px 8px;
  margin-left: 8px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.my-services {
    margin-left: 3%;
    font-size: 2rem;
    font-family: AeonikMedium;
    display: flex;
    width: 94%;
    margin-right: 3%;
    justify-content: space-between;
    align-items: center;
}

.create-new-service-button {
    width: 10%;
    height: 100%;
    border-radius: 20px;
    background-color: #181a1d;
    display: flex;
    color: #fff;
    font-size: 1rem;
    font-family: Aeonik;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create-new-service-button:hover {
    background-color: #000;
}

.edit-pencil {
    opacity: 0; /* Полностью прозрачный */
    transition: opacity 0.3s ease; /* Плавная анимация 0.3 секунды */
    cursor: pointer;
    margin-left: 5px;
}

td:hover .edit-pencil {
    opacity: 0.7; /* Полностью видимый */
}
/* 
.edit-pencil:hover {
    opacity: 0.7;
} */


.notification {
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #27ae60;
    color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.notification.show {
    top: 20px;
    opacity: 1;
}

#new-value-input {
    border: 1px solid #ced4da;
    border-radius: 3px;
    text-align: left; /* Явное выравнивание текста слева */
    width: 100%;
    box-sizing: border-box;
}

#new-value-input::placeholder {
    color: #6c757d;
    opacity: 0.7;
    text-align: left; /* Явное выравнивание placeholder слева */
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Скрывает лишний текст */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст слишком длинный */
}

#save-value-btn:hover {
    opacity: 0.9;
}

#close-modal:hover {
    color: #dc3545;
}

.deployment-name, .domain {
    margin-right: 5px;
}

#error-message {
    transition: opacity 0.3s ease;
}

.custom-img {
  filter: invert(0.8);
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: filter 0.1s ease;
}

.custom-img-in {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: filter 0.1s ease;
}

.custom-img:hover {
  filter: invert(1);
}

.custom-img-active {
    filter: invert(1);
}

.context-menu-item {
    transition: color 0.1s ease;
    display: flex;
    padding: 8px 16px 8px 10px;  
    color: #000000;
    transition: background-color 0.3s ease;
}

.context-menu-item:hover {
    color: #000000;
    background-color: #d4d4d4;
}

.user-email-by-block {
    transition: color 0.3 ease;
    margin-left: 5%;
    margin-bottom: 7%;
    color: #8d8d8d;
    font-family: Aeonik;
    cursor: pointer;
}

.user-email-by-block:hover {
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 8%;
    margin-top: 5%;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    color: #333;
    text-align: center;
    padding: 6px 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 105%; /* Сверху от иконки */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s ease-in-out;
    font-size: 14px;
    z-index: 1000;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

a.tooltip {
    margin-left: 8%;
    display: flex;
    align-items: center;
}

.microservice-1 {
    display: flex;
    align-items: end;
    font-family: AeonikMedium;
    margin-top: 3%;
}

.microservice-text {
    font-size: 12rem;
    margin-left: -1%;
}

.microservice-add-text {
    display: flex;
    flex-direction: column;
}

.universal-service {
    font-size: 4rem;
    font-family: AeonikMedium;
}

.add-text-to-main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.2rem;
    font-family: AeonikMedium;
    color: #000000;
    opacity: 0.8;
    text-align: center;
}

.all-work-auto-container {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
}

.all-work-auto-text {
    font-size: 3rem;
    font-family: AeonikMedium;
    align-items: center;
    display: flex;
    width: 100%;
}

.all-work-auto-ul {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: end;
}

.do-not-think {
    display: flex;
    width: 60%;
    justify-content: center;
    margin-top: 12%;
    font-size: 3rem;
    font-family: AeonikMedium;
    color: #000000;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

}

.do-not-think-mini {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1%;
  font-size: 1.2rem;
  font-family: AeonikMedium;
}

.pay-by-hour {
    display: flex;
    color: #000000;
    margin-top: 3%;
    font-size: 1.9rem;
    font-family: AeonikMedium
    ;width: 84%;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%
}

.month-hour-pay {
    display: flex;
    margin-left: 5%;
    font-size: 1.2rem;
    position: absolute;
    bottom: 7%;
    font-family: Aeonik
}

.end-buttons-container div {
    cursor: pointer;
}

.img-container {
    width: 50%;
    height: auto;
    margin-top: 20%;
}

.logo-img-text {
    width: 35%;
    height: auto;
    z-index: 10;
    margin-left: 2%;
    max-width: 120px;
    min-width: 90px;
} 

.logo-img {
    width: 5%;
    height: auto;
    max-width: 18px;
    min-width: 12px;
}

.project-text {
    display: flex;
    width: 40%;
    margin-top: 3%;
    font-size: 1.2rem;
}

.logo-panel-dashboard {
    width: 140px;
    height: auto;
    position: absolute;
    top: -1%;
    margin-left: 3%
}

.finance-border {
    height:71%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    width: 94%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.info-newservice {
    width: 30%;
    height: 100%;
    overflow: auto;
}

#serviceForm {
    max-width: 520px;
    width: 31%;
    overflow: auto;
}

.info-column {
    height:71%;
    margin-left: 3%;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.info-service {
    font-size: 1rem;
    margin-top:3%;
    padding: 15px;
    background-color: #c9c9c9;
    border-radius: 25px;
}

.button-change-tg {
    padding: 12px; 
    background: #000000; 
    color: #fff; 
    border: none; 
    border-radius: 12px; 
    cursor: pointer; 
    text-decoration: none; 
    font-size: 0.9rem;
    min-width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-change-name {
    padding: 12px; 
    background: #000; 
    color: #fff; 
    border: none; 
    border-radius: 12px; 
    cursor: pointer;
    font-size: 0.9rem;
    min-width: 120px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 8px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 3px 0;
    border-radius: 2px;
}

@media (max-width: 1480px) {
   .microservice-text {
    font-size: 10rem;
    margin-top: 2%;
  }

  .end-text {
    font-size: 10rem;
  }
}

@media (max-width: 1250px) {
   .microservice-text {
    font-size: 7rem;
    margin-top: 2%;
  }

    .end-text {
        font-size: 7rem;
  }   
}

@media (max-width: 990px) {
   .microservice-text {
    font-size: 6rem;
    margin-top: 2%;
  }

   .end-text {
    font-size: 6rem;
  }
}


@media (max-width: 850px) {
   .microservice-text {
    font-size: 5rem;
    margin-top: 2%;
  }

   .end-text {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
    body {
        min-width: 100px;
    }
  .main-button-logo {
    width: 90%;
  }

  .microservice-text {
    font-size: 2rem;
    font-family: AeonikMedium;
    margin-top: 2%;
  }

  .microservice-1 {
    font-size: 1.5rem;
    /* padding-left: 3%; */
    /* padding-right: 3%; */
  }

  .main-bussines {
    margin-top: 10%;
  }

  .microservice-add-text {
    margin-bottom: 10%;
  }

  .main-button {
    width: 100%;
    margin-top: 10%;
  }

  .main-for {
    width: 90%;
    font-size: 15px;
  }

  .curved-section {
    justify-content: space-between;
  }

  .logo-panel {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .button-logo-container {
    width: 50%;
  }

  .main-button-logo {
    width: 90%;
  }

  .universal-service {
    font-size: 2rem;
    text-align: center;
  }

  .text-container {
    flex-direction: column;
    padding-top: 20%;
    margin-top: 14%;
  }

  .text-1 {
    width: 100%;
  }

  .universal-service-text {
    text-align: center;
    }

    .add-text-to-main {
        margin-top: 12%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .all-work-auto-container {
        flex-direction: column;
    }

    .all-work-auto-text {
        text-align: center;
        font-size: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .all-work-auto-ul {
        font-size: 16px;
    }

    .do-not-think {
        margin-top: 100px;
        font-size: 1.8rem;
        padding-right: 8%;
        padding-left: 8%;
        display: flex;
        width: 84%;

    }

    .do-not-think-mini {
        font-size: 1rem;
        margin-top: 2%;
    }

    .status-container {
        height: auto;
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .status-data {
        flex-direction: column;
    }

    .status-a {
        width: 100%;
    }

    .a-text {
        font-size: 3rem;
    }
    .a-description {
        font-size: 1.5rem;
    }

    .project-container {
        flex-direction: column;
        margin-top: 70px;
    }

    .pay-by-hour  {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 10%
    }

    .month-hour-pay {
        font-size: 16px;
    }

    .status-text {
        font-size: 3rem;
        margin-bottom: 4%;
    }

    .data-blocks-p {
        flex-direction: column;
        gap: 5px;
        height: auto;
    }

    .data-block-p {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .pluses {
        height: auto;
        padding-top: 30px;
    }

    .text-p-container {
        font-size: 2rem;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .faq-container {
        flex-direction: column;
        height: auto;
    }

    .faq {
        width: 100%;
    }

    .faq-text {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-button-faq {
        display: none;
    }

    .faq-image {
        width: 90%;
        margin-left: 0;
        margin-top: 5%;
    }

    .start-text {
        font-size: 1rem;
    }

    .end-o-kak {
        font-size: 5rem;
    }

    .end-o-kak2 {
        font-size: 2.5rem;
    }
    
    .end-text {
        font-size: 4rem;
        margin-top: 40px;
    }

    .end-button {
        width: 90%;
        margin-top: 5%;
    }

    .block {
        height: 100px;
        width: 150px;
        font-size: 1rem;
    }

    .marquee-container {
        height: 100px;
    }

    .text-2 {
        width: 100%;
        justify-content: center;
    }
    
    .img-container {
        margin-top: 10%;
    }

    .r {
        width: 200px;
        height: 45px;
    }

    .project-container {
        justify-content: center;
        gap: 30px;
    }

    .project-text {
        width: 100%;
        text-align: center;
    }

    .logo-img-text {
        width: 50%;
        max-width: 120px;
        min-width: 90px;
    }

    .logo-img {
        width: 7%;
        max-width: 18px;
        min-width: 12px;
    }

    .end-buttons-container {
        margin-top: 7%;
    }

    .end-buttons3 {
        margin-top: 7%;
    }

    .nav {
        display: none;
    }

    .main-panel {
        min-width: 0;
        margin: 2%;
        /* min-height: 200px; */
    }

    .main-dashboard {
        min-width: 200px;
        min-height: 200px;
    }

    .top-view-add-container {
        flex-direction: column;
        height: auto;
    }

    .top-view-block {
        min-width: 100px;
        width: 30%;
    }

    .my-services {
        margin-left: 3%;
        font-size: 1.5rem;
        margin-top: 5%;
    }

    .top-view {
        margin-left: 3%;
        height: auto;
    }

    .table-wrapper {
        margin-left: 3%;
        min-width: 0;
    }

    table {
        width: 94%;
        margin-left: 0;
    }

     .top-view-blocks-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        width: 100%;
        /* justify-content: space-between;  */
     }
    

    .top-view-block {
        flex: 1 1 calc(50% - 5px);
    }  

    .top-view-main-text {
        font-size: 1.5rem;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .logo-panel-dashboard {
        display: none;
    }

    .top-view-module {
        width: 100%;
        height: auto;
    }

    .create-new-service-button {
        width: 30%;
        min-height: 32px;
        font-size: 15px;
    }

    #tarif-th {
        display: none;
    }

    #type-th {
        display: none;
    }

    #price-th {
        display: none;
    }

    #help-icon {
        display: none;
    }

    .balance123 {
        margin-top: 5%;
        margin-left: 2%
    }

    .menu-finance {
        margin-left: 2%;
        margin-right: 2%;
    }

    .finance-border {
        border-left: 0;
        border-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .info-column {
        flex-direction: column;
        display: flex;
        width: 94%;
    }

    /* .info-newservice {
        display: none;
    } */

    #serviceForm {
        width: 100%;
        max-width: none;
        height: auto;
        height: 100%;
    }

    .info-newservice {
        display: none;
    }

    .info-service {
        margin-top: 2%;
    }

    .menu-line {
        width: 94%;
    }

    .content-block {
        width: 84%;
    }

    .hamburger {
        display: flex;
    }
}


.nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* вместо margin-top */
    padding-top: 20px;
}

.nav-bottom {
    margin-bottom: 10px;
    color: #8d8d8d;
    font-size: 0.7rem;
}

.fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 1000;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    transition: opacity 0.3s ease;
}

.fullscreen-menu.show {
    display: flex;
}

.fullscreen-menu .menu-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
    gap: 14px;
    margin-bottom: 5%;
}

.fullscreen-menu .menu-content a {
    color: rgb(0, 0, 0);
    font-size: 1 rem;
    text-decoration: none;
    /* margin: 20px 0; */
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.fullscreen-menu .menu-content a:hover {
    background-color: #d8d8d8;
}

.fullscreen-menu .menu-content button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
